<div class="jumbotron">
  <div class="alert alert-danger" style="margin-left: 90px;" *ngIf="errorMessage">
    <strong>Error!</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" style="margin-left: 90px;" *ngIf="infoMessage">
    <strong>Successful!</strong> {{infoMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="margin-left: 90px;" *ngIf="dataSource">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Settings</h3>
          </div>
          <div class="col col-xs-6 text-right">
            <button type="button" class="btn btn-primary" (click)="createNewParameterRequest()">Create New Parameter</button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="cle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clé</th>
            <td mat-cell *matCellDef="let element">{{element.cle}}</td>
          </ng-container>

          <ng-container matColumnDef="valeur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Valeur</th>
            <td mat-cell *matCellDef="let element">{{element.valeur}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <td mat-cell *matCellDef="let element" style="width:140px;">
              <a class="btn btn-warning custom-btn-link" (click)="editParameterRequest(element)"><em class="glyphicon glyphicon-pencil"></em></a>
              <a class="btn btn-danger custom-btn-link" (click)="deleteParameterRequest(element)"><em class="glyphicon glyphicon-trash"></em></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="parameterModal" #parameterModal tabIndex="-1" role="dialog" aria-labelledby="parameterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="form-parameter-update" (ngSubmit)="f.form.valid && saveParameter()" #f="ngForm" novalidate>
        <div class="modal-header">
          <h5 class="modal-title">Parameter Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cle.valid }">
            <label for="cle">Clé</label>
            <input type="text" class="form-control input-text-custom" id="cle" name="cle" [(ngModel)]="selectedParameter.cle" #cle="ngModel" required />
            <div *ngIf="f.submitted && !cle.valid" class="help-block">Parameter name is required.</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !valeur.valid }">
            <label for="valeur">Valeur</label>
            <input type="text" class="form-control input-text-custom" id="valeur" name="valeur" [(ngModel)]="selectedParameter.valeur" #valeur="ngModel" required />
            <div *ngIf="f.submitted && !valeur.valid" class="help-block">Value is required.</div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" #deleteModal tabIndex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Are you sure to delete <strong>{{selectedParameter.cle}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteParameter()">I'm sure.</button>
        </div>
    </div>
  </div>
</div>

