<div class="jumbotron">
  <div class="alert alert-danger" style="margin-left: 90px;" *ngIf="errorMessage">
    <strong>Erreur !</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" style="margin-left: 90px;" *ngIf="infoMessage">
    <strong>Succès !</strong> {{infoMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="margin-left: 90px;" *ngIf="dataSource">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Paramètres</h3>
          </div>
          <div class="col col-xs-6 text-right">
            <button type="button" class="btn btn-warning" (click)="createNewParameterRequest()">Ajouter un paramètre</button>
          </div>
        </div>
      </div>

      <div class="card-body">

        <mat-form-field appearance="outline" color="warn">
          <mat-label>Filtrer</mat-label>
          <input (keyup)="applyFilter($event.target.value)" matInput >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="cle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Clé</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="valeur">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Valeur</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.valeur}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="btn btn-warning custom-btn-link" (click)="editParameterRequest(element)"><em class="glyphicon glyphicon-pencil"></em></a>
              <a class="btn btn-danger custom-btn-link" (click)="deleteParameterRequest(element)"><em class="glyphicon glyphicon-trash"></em></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="parameterModal" #parameterModal tabIndex="-1" role="dialog" aria-labelledby="parameterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="form-parameter-update" ngNativeValidate (ngSubmit)="saveParameter()" #f="ngForm" >
        <div class="modal-header">
          <h5 class="modal-title">Informations paramètre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="cle">Clé</label>
            <input type="text" class="form-control input-text-custom" id="cle" name="cle" [(ngModel)]="selectedParameter.cle" #cle="ngModel" required />
          </div>
          <div class="form-group">
            <label for="valeur">Valeur</label>
            <input type="text" class="form-control input-text-custom" id="valeur" name="valeur" [(ngModel)]="selectedParameter.valeur" #valeur="ngModel" required />
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" #deleteModal tabIndex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer le paramètre <strong>{{selectedParameter.cle}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="deleteParameter()">Oui</button>
        </div>
    </div>
  </div>
</div>

