<div class="page">
    <div class="jumbotron">
      <div style="margin-left: 90px;" *ngIf="dataSource">
        <div class="card">
          <div class="card-header" style="height: 70px;">
            <div class="row" >
              <div class="col col-xs-6" style="margin-top: 10px">
                <h3 class="panel-title">Courbe des Taux BDT</h3>
              </div>
              <form class="form-inline" style="margin-right: 20px;">
                <div class="form-group mx-sm-3">
                  <input type="date" class="form-control" name="date" [ngModel]="BirthDate | date:'yyyy-MM-dd'" #date>
                  <button mat-raised-button style=" margin-left: 20px;" type="submit" class="btn btn-warning" (click)="getcourbeList(date.value)">Recherche</button>
                  <button *ngIf="showgenerate" mat-raised-button style=" margin-left: 20px;" type="submit" class="btn btn-warning" (click)="generateBDT(date.value)">Générer</button>
                  <div *ngIf="mode" style=" margin-left: 20px;" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Consulter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="generateCourbeST(date.value)">Courbe de Taux ST</a>
                      <a class="dropdown-item" (click)="generateCourbeLT(date.value)" >Courbe de Taux LT</a>
                      <a class="dropdown-item" (click)="generateTaux(date.value)">TMPJJ</a>
                    </div>
                  </div>
                  <div *ngIf="mode" style=" margin-left: 20px; margin-right: 50px" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Extraire
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="DownloadSTFile(date.value)">Courbe de Taux ST</a>
                      <a class="dropdown-item" (click)="DownloadLTFile(date.value)">Courbe de Taux LT</a>
                      <a class="dropdown-item" (click)="DownloadTMPFile(date.value)">TMPJJ</a>
                    </div>
                  </div>
                </div> 
              </form>
            </div>  
          </div>
          <div class="card-body">

            <mat-form-field appearance="outline" color="warn" *ngIf="isViewable">
              <mat-label>Filter</mat-label>
              <input (keyup)="applyFilter($event.target.value)" matInput >
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
  
            <mat-table [dataSource]="dataSource" matSort>
              
              <ng-container matColumnDef="dateEcheance" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date Echeance</mat-header-cell>
                <mat-cell *matCellDef="let courbe">{{courbe.dateEcheance}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="maturite">
                <mat-header-cell [hidden]="show"  *matHeaderCellDef mat-sort-header>Maturité (jours)</mat-header-cell>
                <mat-cell [hidden]="show"  *matCellDef="let courbe">{{courbe.maturite}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="dateValeur">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date Valeur</mat-header-cell>
                <mat-cell *matCellDef="let courbe">{{courbe.dateValeur}}</mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="dateCourbe">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date Courbe</mat-header-cell>
                <mat-cell *matCellDef="let courbe">{{courbe.dateCourbe}}</mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="tmp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>tmp</mat-header-cell>
                <mat-cell *matCellDef="let courbe">{{courbe.tmp}} %</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="volume">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Volume (millions de dirhams)</mat-header-cell>
                <mat-cell *matCellDef="let courbe">{{courbe.volume}}</mat-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>


    <!-- Courbe ST Modal --> 

    <div class="modal fade" id="courbest" #courbest>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Courbe de Taux ST</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" >
              
              <mat-table [dataSource]="dataSourceST" matSort>
                <ng-container matColumnDef="dateCourbe">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date Courbe</mat-header-cell>
                  <mat-cell *matCellDef="let courbe">{{courbe.dateCourbe}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="maturite">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Maturité (/jours)</mat-header-cell>
                  <mat-cell *matCellDef="let courbe">{{courbe.maturite}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="taux">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>taux</mat-header-cell>
                  <mat-cell *matCellDef="let courbe">{{courbe.taux}} %</mat-cell>
                </ng-container>
      
                <mat-header-row *matHeaderRowDef="displayedColumnsST"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsST;"></mat-row>

              </mat-table>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
           
        </div>
      </div>
    </div>

    <!-- Courbe LT Modal --> 

    <div class="modal fade" id="courbelt" #courbelt >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Courbe de Taux LT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <mat-table [dataSource]="dataSourceLT" matSort>
                  <ng-container matColumnDef="dateCourbe">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Courbe</mat-header-cell>
                    <mat-cell *matCellDef="let courbe">{{courbe.dateCourbe}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="maturite">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Maturité (/jours)</mat-header-cell>
                    <mat-cell *matCellDef="let courbe">{{courbe.maturite}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="taux">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>taux</mat-header-cell>
                    <mat-cell *matCellDef="let courbe">{{courbe.taux}} %</mat-cell>
                  </ng-container>
        
                  <mat-header-row *matHeaderRowDef="displayedColumnsLT"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsLT;"></mat-row>
              </mat-table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Taux TMPJJ Modal --> 

    <div class="modal fade" id="tmpjj" #tmpjj >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Taux TMPJJ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th>Date Génération</th>
                    <th>Taux</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{dateTaux}}</td>
                    <td>{{taux}} %</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
      </div>
    </div>

</div>
  
  
  
  
  
  
  
