table {
  width: 100%;
}


.custom-btn-link{
  margin-left: 5px;
  color: #fff;
}

.custom-btn-link .glyphicon{
  color: #fff;
}

.custom-mat-cell{
  width: 120px;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.jumbotron{
  background: -webkit-linear-gradient(left, #ff8308, #000) no-repeat center center fixed; 
  margin-bottom: -50px;
  height: 700px;
}

.mat-row:hover {
  background-color:rgb(249, 181, 91);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}



  
  
  