<div class="page">

  <div class="jumbotron">
    <div class="alert alert-danger" style="margin-left: 90px;" *ngIf="errorMessage">
      <strong>Erreur !</strong> {{errorMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-success" style="margin-left: 90px;" *ngIf="infoMessage">
      <strong>Succès !</strong> {{infoMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div style="margin-left: 90px;" *ngIf="dataSource">
      <div class="card">
        <div class="card-header" style="height: 60px;">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">Utilisateurs</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button"  class="btn btn-warning" (click)="addUserRequest()">Ajouter un utilisateur</button>
            </div>
          </div>
        </div>
  
        <div class="card-body">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Filtrer</mat-label>
            <input (keyup)="applyFilter($event.target.value)" matInput >
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom & Prénom</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
  
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifiant</th>
              <td mat-cell *matCellDef="let element">{{element.username}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>


            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let element" style="width:140px;">
                <a class="btn btn-warning custom-btn-link" (click)="editUserRequest(element)"><em class="glyphicon glyphicon-pencil"></em></a>
                <a class="btn btn-danger custom-btn-link" (click)="deleteUserRequest(element)"><em class="glyphicon glyphicon-trash"></em></a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Edit User -->
  
  <div class="modal fade" id="userModal" #userModal tabIndex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="form-user-update" #f="ngForm" ngNativeValidate (ngSubmit)="editUser()">
          <div class="modal-header">
            <h5 class="modal-title">Mettre à jour</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Erreur !</strong> {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="form-group">
              <label for="name">Nom & Prénom</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="selectedUser.name" #name="ngModel" required>
            </div>

            <div class="form-group">
              <label for="username">Identifiant</label>
              <input type="text" name="username" class="form-control" [(ngModel)]="selectedUser.username" #username="ngModel" required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="selectedUser.email" #email="ngModel" required>
            </div>

            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input readonly type="password" name="password" class="form-control" [(ngModel)]="selectedUser.password" #password="ngModel" required>
            </div>

            <div class="form-group">
              <label for="role">Rôle</label>
              <select class="form-control" name="role" id="role" required [(ngModel)]="selectedUser.role" #role="ngModel" required>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
              </select>
            </div>

          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Add User -->
  
  <div class="modal fade" id="createuserModal" #createuserModal tabIndex="-1" role="dialog" aria-labelledby="createuserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="form-user-create" ngNativeValidate (ngSubmit)="createUser()" #f="ngForm" >
          <div class="modal-header">
            <h5 class="modal-title">Ajouter un utilisateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Error!</strong> {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="form-group">
              <label for="name">Nom & Prénom</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="user.name" #name="ngModel" required>
            </div>

            <div class="form-group">
              <label for="username">Identifiant</label>
              <input type="text" name="username" class="form-control" [(ngModel)]="user.username" #username="ngModel" required>
          </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" required email>
            </div>

            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required>
            </div>

            <div class="form-group">
              <label for="role">Rôle</label>
              <select class="form-control" name="role" id="role" required [(ngModel)]="user.role" #role="ngModel">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  
  <!-- Delete User -->
  
  <div class="modal fade" id="deleteModal" #deleteModal tabIndex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer l'utilisateur <strong>{{selectedUser.name}}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger" (click)="deleteUser()">Oui</button>
          </div>
      </div>
    </div>
  </div>
  


</div>
