<div class="page">  
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{user.name}}
                    </h5>
                    <h6>
                        {{user.role}}
                    </h6>
                    <p class="profile-infos">Coordonnées</p>  
                </div>
            </div>
            <div class="col-md-2" style="margin-left: auto;">

                <button *ngIf="!show" mat-raised-button class="btn btn-light" (click)="editUserRequest(user)" style="font-size: large; font-family: 'Lato';">Modifier</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="profile-tab">
                    <div *ngIf="!show">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Identifiant</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom & Prénom</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>   
                    </div>
                    <div *ngIf="show">
                        <form name="form-user-update" ngNativeValidate (ngSubmit)="editUser()" #f="ngForm"> 
                                <div class="alert alert-danger" *ngIf="errorMessage">
                                <strong>Error !</strong> {{errorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="alert alert-success" *ngIf="infoMessage">
                                <strong>Done !</strong> {{infoMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>   
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Identifiant</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="username" class="form-control" [(ngModel)]="selectedUser.username" #username="ngModel" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nom & Prénom</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="name" class="form-control" [(ngModel)]="selectedUser.name" #name="ngModel" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" name="email" class="form-control" [(ngModel)]="selectedUser.email" #email="ngModel" required email>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mot de passe</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" name="password" class="form-control" [(ngModel)]="selectedUser.password" #password="ngModel" required>
                                    </div>
                                </div> 

                                <div style="margin-top: 20px;">
                                    <button style="margin-left: 10px; width: 125px" type="submit" class="btn btn-secondary">Enregistrer</button>
                                    <button style="margin-left: 20px; width: 125px" (click)="annuler()" type="button" class="btn btn-secondary">Annuler</button>
                                </div>
                                 

                        </form> 
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>
                   